---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
    <div>
      <span class="font-light text-sm">邮箱: jason.cai@zilinfo.top</span>
      <span class="font-light text-sm ml-5">地址: 705-708, 7/F. Bank of America Tower12,Harcourt Road, Central, Hong Kong</span>
      <br>
      <span class="font-light text-sm">电话: +852 56865288/+44 7494196066</span>
      <span class="font-light text-sm ml-5">出生日期: 2007年 10月 29日</span>
      <span class="font-light text-sm ml-5">国籍: 中国香港</span>
      <span class="font-light text-sm ml-5">社交链接、网站: wingspan-group.com</span>
    </div>
  </div>

  <div class="mb-10 text-justify">
    我拥有丰富的国际化教育背景，曾就读于香港耀中国际学校、英国Queen Ethelburga's Collegiate、Gresham School和Wycliffe College，目前正在牛津国际高中（英国布莱顿）完成高中学业。
在职业方面，我担任过梓林家族办公室（香港）有限公司的联合创始人兼CEO，协助公司获得数百万美元投资并推动业务增长。此外，我还担任雏鹰计划首席班长，组织并主持多场大型活动，展现了出色的领导力和公共演讲能力。在实践项目中，我成功促成了中国与英国之间的国际贸易业务，并统筹组织了大型慈善交流活动。
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="小学 [香港耀中国际学校]"
      subtitle="[2014年 08月] to [2018年 06月], [香港], [中国]"
    />
    <TimeLineElement
      title="小学 [Queen Ethelburga's Collegiate（艾德伯格女王學院）]"
      subtitle="[2018年 08月] to [2020年 06月], [约克], [英国]"
    />
    <TimeLineElement
      title="初中 [Gresham School (格瑞萨姆学院)]"
      subtitle="[2020年 08月] to [2021年 06月], [诺里奇], [英国]"
    />
    <TimeLineElement
      title="中学 [Wyclie College （威克里夫学院）]"
      subtitle="[2021年 08月] to [2024年 06月], [格洛斯特郡斯通豪斯], [英国]"
    />
    <TimeLineElement
      title="高中 [Oxford international College (牛津国际高中)]"
      subtitle="[2024年 08月] to [目前], [布莱顿], [英国]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="CEO 梓林家族办公室（香港）有限公司 [香港（中国）]"
      subtitle=""
    >
    联合创始人，协助公司获取了数百万美元的原始投资。参与构建公司战略管理团队，推动业务增长并确保企业持续稳健发展。
    </TimeLineElement>
    <TimeLineElement
      title="雏鹰计划首席班长 [香港（中国）]"
      subtitle=""
    >
    参与私募基金投资，落实雏鹰计划成员实习工作计划（包括本人），制定雏鹰计划个人采访与拍摄，代表雏鹰计划在香港，深圳，珠海，重庆，成都等地举办活动专场并进行演讲宣传。
    </TimeLineElement>
    <TimeLineElement
      title="总经理助理 汁力源科技有限公司 [道真（中国贵州）]"
      subtitle=""
    >
    参与并协助汁力源工厂各部门运作（包括但不限于行政，财务，生产，营销等部门）。制定了汁力源科技有限公司工厂进行拍摄讲解。担任汁力源慈善两地交流会的总统筹负责人，组织了为期三天的慈善交流活动并吸引了来自中国六    个不同城市的慈善参与者（共50位）来到贵州道真进行慈善交流活动。
    </TimeLineElement>
    <TimeLineElement
      title="实习生 龙石资本管理有限公司 [北京（中国）]"
      subtitle=""
    >
    参与编辑如影智能（北京）项目投资分析报告与中国房地产行业分析报告并向龙石资本负责人进行演示，学习Dragonstone Global  Dynamics OFCWingspan Project 基金结构，投资范围，以及其储备项目。
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Personal Project</div>
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="促进贸易业务 [伦敦（英国）]"
      subtitle=""
    >
    促进中国杭州（亿星体育用品商行）与英国伦敦国际贸易业务，负责业务包括（但不限于）联系意向合作公司，询价谈判，资金汇款，对接英国业务细节。
    </TimeLineElement>
    <TimeLineElement
      title="业务沟通谈判 [香港（中国）]"
      subtitle=""
    >
    参与私募基金投资，落实雏鹰计划成员实习工作计划（包括本人），制定雏鹰计划个人采访与拍摄，代表雏鹰计划在香港，深圳，珠海，重庆，成都等地举办活动专场并进行演讲宣传。
    </TimeLineElement>
    <TimeLineElement
      title="参与编辑投资概要 [深圳（中国）]"
      subtitle=""
    >
    参与编辑中国深圳海上世界投资概要（其项目商业价值共9.16亿元人民币）
    </TimeLineElement>
    <TimeLineElement
      title="分析报告 [北京（中国）]"
      subtitle=""
    >
    参与中国（北京）房地产国恒集团项目投资分析报告
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Language Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>中文 [母语]</li>
    <li>英文 [母语]</li>
    <li>法语 [中级]</li>
    <li>日语 [中级]</li> 
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills And Hobbies</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>领导与决策</li>
    <li>部署计划与执行</li>
    <li>管理与统筹</li>
    <li>公共演讲与辩论</li>
    <li>主持与谈判</li>
    <li>社交（爱好）</li>
    <li>阅读（爱好）</li>
  </ul>
</BaseLayout>
